* {
  transition: background-color .2s cubic-bezier(.7, 0, .7, 1);   
}

@font-face {
  font-family: Guerilla;
  src: url('./Protest_Guerrilla/ProtestGuerrilla-Regular.ttf');
}

body {
  overflow: hidden;
  font-family: Guerilla;
  position: relative;
  height: 100vh;
  margin: 0;
}

#container {
  display:flex; 
  align-content:start; 
  flex-wrap:wrap; 
  position: absolute; 
  top: 50%; 
  left: 50%;
}

.toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 2em;
  width: 60px;
  height: 30px;
  z-index: 3;
  background-color: #181825;
  cursor: pointer;
}

#settings-icon {
  position: absolute; 
  right: 10px; 
  top: 10px; 
  font-size: 30px; 
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.circle-on, .circle-off {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.circle-on {
  font-size: 15px;
  left: 5px;
  color: orange;
}

.circle-off {
  font-size: 15px;
  right: 5px;
  color: #181825;
}

#moon-icon {
  font-size: 20px;
  left: 5px;
  color: orange;
}

#sun-icon {
  font-size: 20px;
  right: 5px;
  color: orange;
}

#settings-page {
  font-family: 'Courier New', Courier, monospace;
  width: 400px;
  height: 580px;
  position: absolute;
  right: -600px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.5s ease-in-out;
  background-color: #181825;
  padding: 20px;
  color: white;
}

#count {
  position: absolute;
  left: 50%;
  top: -50px;
  color: white;
  transform: translate(-50%, 0);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.circle {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 2.5px;
  left: 2.5px;
  border-radius: 50%;
  transition: transform .2s cubic-bezier(.7, 0, .7, 1);
  z-index: 2;
}

.setting-toggle {
  cursor: pointer;
  position: relative;
  border-radius: 2em;
  width: 60px;
  height: 30px;
  background-color: white;
  display: flex;
}

.setting-container {
  margin-top: 45px; 
  display: flex;
  font-size: 25px;
  align-items: center;
  gap: 15px;
}

.setting-input input {
  width: 45px;
  height: 20px;
  font-family: Guerilla;
  font-size: 20px;
}

.save-button {
  font-family: Guerilla;
  letter-spacing: 5px;
  font-size: 20px;
  background-color: #181825; 
  border: 1px solid white; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  color: white;
}

.save-button:hover {
  background-color: white; 
  color: #181825
}

#game-over-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00A7E1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 4;
  font-size: 35px;
  color: white;
  display: none;
}

#game-over-screen button {
  font-family: Guerilla;
  font-size: 25px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6BD425;
  color: white;
  border: none;
  letter-spacing: 5px;
}

#best-results-container {
  position: absolute;
  right: 10px;
  top: 150px;
  /* transform: translate(0, -50%); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}